<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Spring Security SSO Client 2</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>

<body ng-app="app" ng-controller="home as home">
<div class="container">
    <div class="container" ng-show="!home.authenticated">
        <div>
            Sign in with <a href="login/facebook">Facebook</a>
        </div>
        <div>
            Sign in with <a href="login/github">Github</a>
        </div>
    </div>
    <div class="container" ng-show="home.authenticated">
        Logged in as: <span ng-bind="home.user"></span>
        <br/>
        Login: <span ng-bind="home.login"></span>
    </div>
    <div>
        <button ng-click="home.logout()" class="btn btn-primary">Logout</button>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script type="text/javascript">
    angular.module("app", []).controller("home", function ($http, $location) {
        var self = this;
        $http.get("/api/v1/users/me").success(function (data) {
            self.user = data.userAuthentication.details.name;
            self.login = data.userAuthentication.details.login ? data.userAuthentication.details.login : "N/A";
            self.authenticated = true;
        }).error(function () {
            self.user = "N/A";
            self.login = "N/A";
            self.authenticated = false;
        });

        self.logout = function () {
            $http.post('/api/v1/logout', {}).success(function () {
                self.authenticated = false;
                $location.path("/");
            }).error(function () {
                console.log("Logout failed");
                self.authenticated = false;
            });
        };
    });
</script>
</body>
</html>